<div class="form-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
<div class="example-container"> <br>
  <mat-form-field appearance="fill" class="mat-form-field">
    <mat-label>Enter full name</mat-label>
    <input matInput type="text" [(ngModel)]="train.name" name="name">
  </mat-form-field><br>
</div>
</mat-card-content>
<mat-card-actions>
<button mat-raised-button color="accent" (click)="addTrain()" class="button">Save</button>
</mat-card-actions><br>
</mat-card>
</div>
